@font-face {
    font-family: "PressStart";
    src: url("PressStart2P-Regular.ttf");

}

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: black;
    font-size: xx-large;
    font-family: "PressStart";
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    display: block;
}

main {
    overflow: hidden;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap:1em;
    padding-top:1em
}
a{  color: white;
    font-size: .8em;
}
.current{
    color: blue;
}
header{
    padding-top: 1em;
    width: 100vw;
    color: white;
    background-color: black;
    position: absolute;
    /* height: 10vh; */
    font-size: 0.8em;

}
h1 {
    font-size: 1.5em;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width: thin;

}